/* Loaded into every preview iframe via the `css` option in sdocs.config.js */

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	color: #1f29aa;
	background-color: #eea;
}
